{% extends 'base.html.twig' %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    This is main dashboard page where all the stuff goes. The menu only works with products.
</div>
{% endblock %}